[submodule "vendor/osmium"]
	path = vendor/osmium
	url = https://github.com/osmcode/libosmium.git
[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "vendor/graaf"]
	path = vendor/graaf
	url = https://github.com/bobluppes/graaf.git
